/* Fonts */
@import url('https://fonts.google.com/specimen/Bebas+Neue#standard-styles');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');

#operacioLabel{
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 22px;
    color: #f44336;
}

body{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 15px;
}

button,select,input{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 12px;
}

#menu{
    width: 400px;
    position: absolute;
    margin-left: 55%;
}

#funcio{
    width: 200px;
}


#inputFunc{
    margin-left: 620px;
    margin-top: 50px;
}

#Z{
    margin-left: 42%;
    margin-top: -50px;
}

#zoom{
    margin-bottom: -5px;
}

#eixos{
    z-index: 0;
    position: absolute;
}

#pfuncio{
    z-index: 1;
}

select{
    width: 150px;
    height: 30px;
    margin-left: 80%;
    position: absolute;
}

#Color,#Tipus{
    margin-left: 81%;
    width: 160px;
}

#Gruix{
    margin-top: 20%;
    margin-left: 81%;
    width: 160px;
}

#ValorG{
    margin-left: 81%;
    width: 120px;
}

#Fons{
    margin-left: 81%;
    margin-top: 18%;
    width: 160px;
}

#esborrar{
    margin-top: 30%;
    margin-left: 81%;
    width: 100px;
    height: 40px;
}

#efecteF{
    margin-left: 81%;
    margin-top: 18%;
    width: 160px;
}

#menu2{
    width: 300px;
    height: 100px;
}

#desar{
    width: 180px;
    height: 40px;
    margin-left: 43%;
    margin-top: -330px;
}

#fons{
    z-index: -1;
    position: absolute;
    margin-left: -505px;
}
