/* Fonts */
@import url('https://fonts.google.com/specimen/Bebas+Neue#standard-styles');

h1{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 13px;
    margin-left: 27%;
}

button{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 14px;
}

body{
    background-color: #e6e6e6;
}

#titol{
    margin-top: 3%;
    margin-left: 35%;
}

#botons{
    margin-left: 39%;
}

#back,#play,#forward,#pause,#mute{
    width: 76px;
    height: 56px;
}

#video{
    margin-top: -50px;
    margin-left: 28%;
}

#descripcio{
    margin-left: 40%;
    font-size: 15px;
    margin-top: 2%;
}

#funcions{
    margin-left: 45%;
    margin-top: 2%;
    width: 150px;
    height: 30px;
    background-color: #f44336;
    border:none;
    color:white;
}